.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body {  
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
}

table tr td{
  border: 1px solid #c9c8c8;
  border-collapse: collapse;
}

table tr th{
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid #D1F8EF;
}

strong{
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: fit-content;
}

button{
  display: inline-block;
  width: 100%;
  text-align: center;
}

input{
  width: inherit;
}

.buttoEnviar{
  width: 5rem;
  height: 3rem;
  background-color: #BDD7EE;
  display: flex;
  border: solid 1px #D9D9D9;
  border-radius: 15px;
}

.bodyHome{
  background-image: url('../images/image1.jpg');
}

.headerTableInput{
  background-color: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0.500);
}

.headTableInput{
  background-color: #BDD7EE;
  text-align: start;
  padding-left: 5px;
}

.cardInput{
  min-width: 5rem;
  max-width: 8rem;
  width: fit-content;
  overflow: hidden;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #D9D9D9;
}

.cardInputHead{
  flex-basis: auto;
  padding: 0.5rem 1rem;
  background-color: #BDD7EE;
  display: flex;
  text-align: center;
}

.cardInputData{
  display: flex;
  flex-basis: auto;
}

.buttonMas{
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.buttonMenos{
  width: 30px;
  height: 30px;
  background-color: #C00000;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}