
.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
      background-image: url('../images/image1.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      min-height: 100%;
      min-width: 100%;
}