<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/defaults.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>QuoterApp</title>
  </head>
  <body class="bodyHome">
    <div class="divGeneralHome">
      <div class="divQuoterTitle">
        <h1 class="titleHome">Quoter</h1>
      </div>

      <div class="divButtonStart">
        <a class="buttonStart" href="quoter.html" id="getStarted">Iniciar</a>
      </div>
    </div>
  </body>
</html>
