<div class="flex flex-row justify-center">

    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Tipo</strong>
        </div>
        <div class="cardInputData">
            <input type="text" name="tipo" id="tipo">
        </div>
        
    </div>
    <!-- <div class="cardInput">
        <div class="cardInputHead">
            <strong>Categoría</strong>
        </div>
        <input class="cardInputData" type="text" name="categoria" id="categoria">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Subcategoría</strong>
        </div>
        <input class="cardInputData" type="text" name="subcategoria" id="subcategoria">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Manufacturer-Part</strong>
        </div>
        <input class="cardInputData" type="text" name="manufacturerPart" id="manufacturerPart">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Codigo Producto</strong>
        </div>
        <input class="cardInputData" type="text" name="productCode" id="productCode">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Descripción</strong>
        </div>
        <input class="cardInputData" type="text" name="description" id="description">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Qty</strong>
        </div>
        <input class="cardInputData" type="text" name="qty" id="qty">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Unidad de Medida</strong>
        </div>
        <input class="cardInputData" type="text" name="unitMeasure" id="unitMeasure">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Descuento</strong>
        </div>
        <input class="cardInputData" type="text" name="discount" id="discount">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Financiamiento</strong>
        </div>
        <input class="cardInputData" type="text" name="finance" id="finance">
    </div>
    <div class="cardInput">
        <div class="cardInputHead">
            <strong>Dueño</strong>
        </div>
        <input class="cardInputData" type="text" name="owner" id="owner">

    </div>
    <div> -->
        <div class="buttonMenos">
            <button type="" form="" >
                -
            </button>
        </div>
    </div>
    
</div>

<div>
    <div class="buttonMas">
        <button type="" form="" >
            +
        </button>
    </div>
</div>