<table class="table-auto table-visible" id="tabla">
  <thead>
    <tr>
      <th colspan="2" class="headerTableInput border">
        <span class="text-3xl roboto-uniquifier font-semibold"
          >Parametros Quoter</span
        >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="headTableInput">Cliente:</th>
      <td class=""><input type="text" name="client" id="client" /></td>
    </tr>
    <tr>
      <th class="headTableInput">País:</th>
      <td class=""><input type="text" name="country" id="country" /></td>
    </tr>
    <tr>
      <th class="headTableInput">Gerente de propuestas:</th>
      <td class="">
        <input type="text" name="gerentePropuestas" id="gerentePropuestas" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">HUGUES T19 Número de Sitios:</th>
      <td class=""><input type="text" name="ht19Sitios" id="ht19Sitios" /></td>
    </tr>
    <tr>
      <th class="headTableInput">Sitios Fuera de Cobertura:</th>
      <td class="">
        <input
          type="text"
          name="sitiosFueraCobertura"
          id="sitiosFueraCobertura"
        />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Número de Sitios:</th>
      <td class=""><input type="text" name="numSitios" id="numSitios" /></td>
    </tr>
    <tr>
      <th class="headTableInput">Repuestos Remotos:</th>
      <td class="">
        <input type="text" name="repuestosRemotos" id="repuestosRemotos" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Total de Repuestos:</th>
      <td class="">
        <input type="text" name="totalRepuestos" id="totalRepuestos" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Capacidad Total SES-17(Mbps):</th>
      <td class="">
        <input type="text" name="capacidadSes-17" id="capacidadSes-17" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Overbooking:</th>
      <td class="">
        <input type="text" name="Overbooking" id="Overbooking" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Capacidad total de banda Ka(Mbps):</th>
      <td class="">
        <input type="text" name="cTotalBandaKa" id="cTotalBandaKa" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Mbps promedio por sitio:</th>
      <td class="">
        <input type="text" name="mbpsPromedio" id="mbpsPromedio" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Valor Cambio(SOL a USD):</th>
      <td class=""><input type="text" name="solDolar" id="solDolar" /></td>
    </tr>
    <tr>
      <th class="headTableInput">
        Precio unitario terminal (USD) - ExWorks USA:
      </th>
      <td class="">
        <input type="text" name="pUT-ExWorks" id="pUT-ExWorks" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">COSTO - Banda Ka SES Mbps/Mes (USD):</th>
      <td class="">
        <input type="text" name="costoBandaKaSes" id="costoBandaKaSes" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">COSTO - HUGUES Banda Ka Mbps/Mes (USD):</th>
      <td class="">
        <input type="text" name="costoHBandaKa" id="costoHBandaKa" />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Contrato:</th>
      <td class=""><input type="text" name="contrato" id="contrato" /></td>
    </tr>
    <tr>
      <th class="headTableInput">% sitios con penalizaciones / mes:</th>
      <td class="">
        <input
          type="text"
          name="sitiosConPenalizaciones"
          id="sitiosConPenalizaciones"
        />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">Tasa de financiamiento de CAPEX:</th>
      <td class="">
        <input
          type="text"
          name="tasaFinanciamientoCapex"
          id="tasaFinanciamientoCapex"
        />
      </td>
    </tr>
    <tr>
      <th class="headTableInput">UIT:</th>
      <td class=""><input type="text" name="UIT" id="UIT" /></td>
    </tr>
  </tbody>
</table>
