.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Chrome, Safari, Edge, Opera */
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Firefox*/
.inputNumber {
  -moz-appearance: textfield;
}

/* Scroll personalizado en Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; /* thumb | track */
}

* {
  box-sizing: border-box;
  caret-color: transparent;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: auto;
}

table tr td {
  border: 1px solid #cfcccc;
}

table tr th {
  border-left: 1px solid #d1f8ef;
  position: sticky;
  z-index: 2;
  top: 0;
  line-height: 1.2;
}

strong {
  display: flex;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
}

input:focus {
  border: 2px solid rgb(20, 71, 230);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
  caret-color: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.trActive::after {
  border: 2px solid #6fb4fe;
}

.trResModified {
  background-color: #8cafef;
  transition: background-color 3s ease;
}

/*-----------Index Html-----------*/

.bodyHome {
  background-image: url("../images/image1.jpg");
  overflow: hidden;
}

.divGeneralHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.divQuoterTitle {
  margin: 2.5rem;
  padding: 2.5rem;
  display: flex;
}

.titleHome {
  color: #d1f8ef;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  font-family: "roboto-uniquifier", "Roboto", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divButtonStart {
  display: flex;
  border: solid 3px #3674b5;
  background-color: #d1f8ef;
  border-radius: 9999px;
}

.buttonStart {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #3674b5;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-family: "roboto-uniquifier", "Roboto", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-----------Quoter Html-----------*/

.bodyQuoter {
  overflow-y: scroll;
  overflow-x: hidden;
}

.divGeneral {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2%;
}

/*-------------------- Botones tablas y encabezados --------------*/
.divGrouper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-width: 80%;
  gap: 3rem;
}

/*-- Agrupador de botones --*/

.cdivGrouperButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

/*----  Boton Mostrar Parametros ---*/

.divButtonShowParams {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonShowParams {
  width: auto;
  background-color: #8cafef;
  display: inline-block;
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
}

/*-----------Seccion Tabla Parametros-----------*/
.sectionDivTableParams {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: auto;
}

.cdivTableParams {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.cTableParams {
  table-layout: auto;
  width: 100%;
  min-width: 600px;
}

.headerTableParams {
  background-color: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: static;
}

.titleParams {
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.headTableInput {
  background-color: #bdd7ee;
  text-align: start;
  padding-left: 5px;
  border: none;
  position: static;
  width: 60%;
}

.headTableInputRequired {
  background-color: #8cafef;
  text-align: start;
  padding-left: 5px;
  border: none;
  position: static;
  width: 60%;
}

/*----------Seccion Tabla Resultados-----*/

.sectionTableResultsGeneral {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: auto;
}

/*-Boton Pre-Visualizacion-*/
.sectionSpacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divButtonPreView {
  display: flex;
}

.buttonResult {
  background-color: #f8cbad;
  width: auto;
  display: flex;
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/*-Tabla Resultados-*/
.cdivTableResults {
  display: none;
  width: 100%;
  min-width: auto;
  justify-content: center;
}

.divScroll {
  max-height: 12rem;
  overflow-y: scroll;
  display: block;
}

.ctableResults {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  min-width: auto;
}

.cardResultHeadEmpty {
  padding: 0.5rem;
  background-color: #f8cbad;
}

.cardResultHead {
  min-width: 4rem;
  max-width: 6.5rem;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: #f8cbad;
  border-color: #d9d9d9;
  text-align: center;
}

.rowResult:hover {
  background-color: #8cafef;
  transition: background-color 0.1s ease;
}

.rowResult {
  background-color: white;
  transition: background-color 0.5s ease;
}

.rowResult {
  position: relative;
}

.rowResult::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.cardResultData {
  flex-basis: auto;
  min-width: 4rem;
  max-width: 6.5rem;
  width: auto;
  box-sizing: border-box;
  border-color: #d9d9d9;
}

/*------------- Seccion Tabla Qto ---------------------*/

.sectionTableQtoGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: auto;
  gap: 2rem;
}

/*-- Tabla Qto --*/
.divTableQto {
  display: block;
  width: 100%;
  min-width: auto;
}

.divScrollParamsRows {
  max-height: 35vh;
  overflow-y: scroll;
}

.tableQto {
  width: 100%;
  min-width: auto;
  table-layout: auto;
  border-collapse: collapse;
}

.cardInputHeadCount {
  padding: 0.5rem 1rem;
  background-color: #8cafef;
}

.cardInputHead {
  min-width: 4rem;
  max-width: 6rem;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: #8cafef;
  text-align: center;
}

.cardInputHeadEmpty {
  background-color: #ffffff;
  border-color: white;
}

.rowData {
  position: relative;
}

.rowData::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

.cardInputData {
  flex-basis: auto;
  min-width: 4rem;
  max-width: 6rem;
  width: auto;
  box-sizing: border-box;
}

.tdBoton {
  border: none;
  width: max-content;
}

.buttonMenos {
  width: 30px;
  height: 20px;
  margin: 0px 2px;
  background-color: #c00000;
  color: white;
  font-size: 2rem;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 0px 3px;
}

/*-Boton Incrementador-*/

.divIncreaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headRowIncreaser {
  padding: 0.25rem;
  background-color: #4caf50;
}

.textHeadIncreaser {
  color: white;
}

.divInputIncrement {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.divButton:hover .divInputIncrement {
  opacity: 1;
  visibility: visible;
}

.buttonMas {
  width: 30px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/*----------- Botones Convertir y Calcular-----------*/

.divButtonConAndCalc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: max-content;
}

.buttonConvert {
  width: 5rem;
  height: 3rem;
  background-color: #8cafef;
  display: flex;
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  margin-right: 0.75rem;
}

.buttonCalc {
  width: 5rem;
  height: 3rem;
  background-color: #8cafef;
  display: flex;
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  margin-left: 0.75rem;
}

/*--Estilos auxiliares para cambiar con js--*/
.cdivGrouperButtons.modified {
  flex-direction: column;
  width: 40%;
}

/*----------- Media Queries -----------*/

@media (max-width: 1320px) {
  .sectionSpacer {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .divScroll {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .divGrouper {
    flex-direction: column-reverse;
  }
  .cdivGrouperButtons.modified {
    width: 100%;
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .cdivGrouperButtons {
    display: flex;
    flex-direction: column;
  }
}
