@import "tailwindcss";

.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Chrome, Safari, Edge, Opera */
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Firefox*/
.inputNumber {
  -moz-appearance: textfield;
}

/* Scroll personalizado en Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; /* thumb | track */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scroll-behavior: smooth;
}

body {  
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.bodyQuoter{
  overflow-y: scroll;
}

table tr td{
  border: 1px solid #cfcccc;
}

table tr th{
  border-left: 1px solid #D1F8EF;
  position: sticky;
  z-index: 1;
  top: 0;
}

strong{
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

input{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.not-visible{
  display: none;
}

.buttonEnviar{
  width: 5rem;
  height: 3rem;
  background-color: #8cafef;
  display: flex;
  border: solid 1px #D9D9D9;
  border-radius: 15px;
}
.button{
  width: auto;
  background-color: #8cafef;
  display: inline-block;
  border: solid 1px #D9D9D9;
  border-radius: 15px;
  text-align: center;
  padding: 0.5rem 1rem;
}

.bodyHome{
  background-image: url('../images/image1.jpg');
}

.divScroll{
  max-height: 12rem;
  overflow-y: scroll;
  display: block;
}

.divScrollParamsRows{
  max-height: 60vh;
  overflow-y: scroll;
  display: block;
}

.rowResult:hover{
  background-color: #8cafef;
  transition: background-color 0.1s ease;
}

.rowResult{
  background-color: white;
  transition: background-color 0.5s ease;
}

.headerTableInput{
  background-color: #D9D9D9;
  border: 1px solid rgba(0, 0, 0, 0.500);
  position: static;
}

.headTableInputRequired{
  background-color: #8cafef;
  text-align: start;
  padding-left: 5px;
  border: none;
  position: static;
}

.headTableInput{
  background-color: #BDD7EE;
  text-align: start;
  padding-left: 5px;
  border: none;
  position: static;
}

.cardInputHead{
  min-width: 4rem;
  max-width: 6rem;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: #8cafef;
  text-align: center;
}

.cardInputData{
  flex-basis: auto;
  min-width: 4rem;
  max-width: 6rem;
  width: auto;
  box-sizing: border-box;
  
}

.cardResultHead{
  min-width: 4rem;
  max-width: 6.5rem;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: #F8CBAD;
  border-color: #D9D9D9;
  text-align: center;
}

.cardResultData{
  flex-basis: auto;
  min-width: 4rem;
  max-width: 6.5rem;
  width: auto;
  box-sizing: border-box;
  border-color: #D9D9D9;
}

.trActive{
  border: 2px solid #6fb4fe;
}

.trResModified{

  background-color:  #8cafef;
  
  transition: background-color 3s ease;
}

.tdBoton{
  border: none;
  width: max-content;
}

.divInputIncrement{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

.divButton:hover .divInputIncrement{
  opacity: 1;
  visibility: visible;
}

.buttonMas{
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.buttonMenos{
  width: 30px;
  height: 20px;
  margin: 0px 2px;
  background-color: #C00000;
  color: white;
  font-size: 2rem;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding: 0px 3px;
}

.buttonResult{
  background-color: #F8CBAD;
  width: auto;
  height: 3rem;
  display: flex;
  border: solid 1px #D9D9D9;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}