<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>QuoterApp</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    

    <div>
        <div class="p-2">
            <h1 class="text-white text-9xl roboto-uniquifier font-bold  "> Quoter </h1>
        </div>
    </div>
    <!-- <div>

        <form action="" method="get">
            <table>
                <tr></tr>
            </table>
        </form>

    </div> -->
    
</body>
</html>