<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/output.css">
    <title>QuoterApp</title>
</head>
<body class="bodyHome">
    
    <div class="h-full w-full flex flex-row-reverse items-center">
        <div class="m-10 p-10 flex ">
            <h1 class="text-[#D1F8EF] text-8xl roboto-uniquifier font-bold  ">Quoter</h1>
        </div>
        
        <div class="flex border-solid border-3 border-[#3674B5] bg-[#D1F8EF] rounded-full">
            <a  class=" text-2xl text-[#3674B5] px-4 py-2 font-semibold roboto-uniquifier" href="/parametros"
            id="getStarted">Get Started</a>
        </div>
    </div>
    

    
</body>
</html>