<!-- tailwindcss v4 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quoter</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <div>
        <h2>Parametros Quoter</h2>
        <form action="/parametros" method="POST">
            <table>
                <tr>
                    <td>Client:</td>
                    <td><input type="text" name="client" id="client"></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" name="country" id="country" ></td>
                </tr>
                <!-- <tr>
                    <td>Proposal Manager:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>HUGUES T19 Number of Sites:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Sites out of coverage:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Number of Sites:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Remote Spares:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Total of Spares:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Service Plan:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Total Capacity SES-17(Mbps):</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Overbooking:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Total Ka Band Capacity(Mbps):</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Average Mbps per Site:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Valor Cambio(SOL a USD):</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Terminal Unit Price(USD) - ExWorks USA:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>COST - SES Ka band Mbps/ Month(USD):</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>COST - HUGUES Ka band Mbps/ Month(USD):</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>Contract:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>% sites with Penalties / Month:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>CAPEX Financing Rate:</td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td>UIT:</td>
                    <td><input type="text" name="" id=""></td>
                </tr> -->
            </table>
            <button type="submit">Enviar</button>
        </form>

    </div>

</body>
</html>