<!-- tailwindcss v4 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Quoter</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <div class="flex p-2">
        <form class="flex flex-col " action="/parametros" method="POST" id="formParametros">
            <div class="flex basis-1/5">                
            </div>
            <div class="flex flex-col basis-4/5 items-center ">
                <div class= "flex flex-col ">                    
                    <%- include("inputsParameters/filaParametros") %>
                </div>    
                <div  class="buttoEnviar basis-1/4">
                    <button type="submit" form="formParametros" class="roboto-uniquifier">Enviar</button>
                </div>
            </div>            
        </form>
    </div>

</body>
</html>