<!-- tailwindcss v4 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Quoter</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <div class="flex flex-col p-2">
        <form action="/parametros" method="POST" id="formParametros">
            <div class="flex basis-1/5 items-center">   
                <div class="button">
                    <button id="mostrarParametros" type="button">Mostrar Parametros</button>
                </div>                
                <%- include("inputsParameters/tablaParametros") %>
            </div>
            <div class="flex flex-col basis-4/5 items-center">
                <%- include("inputsParameters/filaParametros") %>
                <div  class="buttonEnviar">
                    <button type="submit" form="formParametros">Enviar</button>
                </div>
            </div>            
        </form>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>