<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/output.css">
    <title>Quoter</title>
</head>
<body>

    <div class="flex flex-col p-2">
        <form action="/parametros" method="POST" id="formParametros">
            <div class="flex flex-row justify-center items-center my-10">   
                <div class="button">
                    <button id="mostrarParametros" type="button">Mostrar Parametros</button>
                </div>            
                <%- include("inputsParameters/tablaParametros") %>
            </div>
            <div class="flex flex-col items-center">
                <%- include("inputsParameters/filaParametros") %>
                <div  class="buttonEnviar">
                    <button type="submit" form="formParametros">Enviar</button>
                </div>
            </div>            
        </form>
    </div>
    <script type="module" src="./js/main.js"></script>
</body>
</html>